*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto Slab', serif;
    font-family: 'Ubuntu', sans-serif;
}
.header{
    background-image: url("images/donation9.jpg");
    background-position: center;
    background-size: 100%;
    text-align: center;
    padding-top: 260px;
    padding-bottom: 200px;
}
h1{
    color: black;
    font-size: 60px;
    font-weight: 900;
    text-align: center;
}
p{
    color: black;
    font-size: 20px;
    font-weight: 400;
    padding-top: 20px;
    padding-bottom: 50px;
    text-align: center;
}
a{
    text-decoration: none;
    font-weight: 600;
    color: blue;
    border: 2px solid rgb(9, 172, 212);
    background-color: rgb(9, 172, 212);
    padding: 15px 15px;
    border-radius: 10px;
}
.donate{
    padding-top: 100px;
    padding-bottom: 50px;
}  
#update{
    font-size: 40px;
}
.amount{
    text-align: center;
    border-bottom: 1px solid;
    margin-left: 350px;
    margin-right: 350px;
    margin-bottom: 40px;
}
.button{
    text-align: center;
    padding-bottom: 100px;
}
#other{
    padding-bottom: 20px;
}
form{
    border: 3px solid bisque;
    background-color: bisque;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
    padding: 40px 40px 40px 40px;
}
.container-btn{
   padding-left: 360px;
   margin-bottom: 50px;
   font-size: 20px;
}
input[type=submit] {
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
  }
  input[type=text] {
    width: 40%;
    border-radius: 5px;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.container{
    padding-left: 360px;
    padding-bottom: 40px; 
    padding-top: 20px;  
}
footer{
    background-color: black;
}
#footer-start{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: 600;
    color: rgb(9, 172, 212);
    padding-top: 30px;
    padding-bottom: 20px;
}
#footer-end{
    color: white;
    font-size: 20px;
}
.btn-one{
    padding: 40px 35px;
    margin-right: 10px;
    border: 1px bisque;
    font-size: 15px;
}
.btn-two{
    padding: 40px 35px;
    margin-right: 10px;
    border: 1px bisque;
    font-size: 15px;
}
.btn-three{
    padding: 40px 35px;
    margin-right: 10px;
    border: 1px bisque;
    font-size: 15px;
}
.btn-four{
    padding: 40px 35px;
    margin-right: 10px;
    border: solid 1px red;
    color: red;
    font-size: 20px;
}
.btn-five{
    padding: 40px 35px;
    border: 1px bisque;
    font-size: 15px;
}
